/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-area {
	-fx-background-color: gold;
}

/* scroll-pane 배경색 */
.text-area .scroll-pane {
	-fx-background-color: transparent;
}

/* viewport 배경색 */
.text-area .scroll-pane .viewport {
	-fx-background-color: transparent;
}

/* content 배경색 */
.text-area .scroll-pane .content {
	-fx-background-color: transparent;
}